<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Pokemon Build</title>
</head>


<body ng-app="createPokemonBuild">
<h1>Create Pokemon Build</h1>
	<div>
		<span>
			<label for="pokemon">Pokemon: </label> 
			<input type="text" id="pokemon" ng-model="pokemon">
			<br>
		</span>
		<span>
			<label for="form">Form: </label> 
			<input type="text" id="form" ng-model="form">
			<br>
		</span>
		<span>
			<label for="types">Types: </label> 
			Type 1, Type 2
			<br>
		</span>
		<span>
			<label for="ability">Ability: </label> 
			<input type="text" id="ability" ng-model="ability">
			<br>
		</span>
		<span>
			<label for="damageTaken">Damage Taken: </label> 
			<input type="text" id="damageTaken" ng-model="damageTaken">
			<br>
		</span>
		<span>
			<label for="nature">Nature: </label> 
			<input type="text" id="nature" ng-model="nature">
			<br>
		</span>
		<div>
			<span>
				<label for="moves">Moves: </label> 
				<input type="text" id="moves" ng-model="moves">
				<br>
			</span>
		</div>
		<span>
			<label for="stats">Stats: </label> 
			<input type="text" id="stats" ng-model="stats">
			<br>
		</span>
		<span>
			<label for="ivs">IVs: </label> 
			<input type="text" id="ivs" ng-model="ivs">
			<br>
		</span>
		<span>
			<label for="evs">EVs: </label> 
			<input type="text" id="evs" ng-model="evs">
			<br>
		</span>
		<span>
			<label for="item">Item: </label> 
			<input type="text" id="item" ng-model="item">
			<br>
		</span>
		<span>
			<label for="notes">Notes: </label> 
			<input type="text" id="notes" ng-model="notes">
			<br>
		</span>
			
	</div>
	

</body>
</html>